.header{
  padding-bottom: 30px;
  padding-top: 30px;
}
.header h2{
  font-weight: bold;
}
.header span {
  font-size: 50px;
  color: whitesmoke;
  background-color: #F04D50;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 50px;
}
.nav {
  background-color: #F04D50;
}
.nav-link {
  color: whitesmoke;
  font-weight: bold;
}

.nav-link:hover{
  text-decoration: underline;
}
