.contact{
  margin-top: 20px;
}
.contact img{
  width: 100%;
  border-bottom: 2px solid #F04D50;
  margin-bottom: 10px;
}

.contact p{
  font-weight: bold;
  border-bottom: 1px solid #F04D50;
}

.contact a{
  color: #F04D50;
  font-weight: normal;
  text-decoration: none;
}

.contact a:hover{
  font-weight: bold;
}

.contact .link{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
