<app-header></app-header>
<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="contact">

      <div class="link">
        <p>E-mail: <a href="mailto:evg8774@yandex.ru">evg8774@yandex.ru</a></p>
        <p>HH: <a href="https://penza.hh.ru/resume/9dff9741ff067ac4d30039ed1f704e4b564349">Java Script developer</a></p>
        <p>HH: <a href="https://penza.hh.ru/resume/817e96ecff0618d2b40039ed1f465948335845">PHP developer</a></p>
      </div>
      <img src="../../assets/res/img/contact2.jpg">
    </div>
  </div>
</div>
<app-footer></app-footer>
